@use "../../style/vars";

.header-blog {
  &-image {
    height: 450px;
    object-fit: cover;
  }

  &-image-full {
    height: 100vh;
  }
  .navbar {
    position: absolute;
    background: none;
    box-shadow: 0 0 0;
    top: 0;
    &-menu {
      height: 100vh;
      background-color: white;
    }
    &-title {
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      margin-left: 2rem;
      a {
        color: white;
        font-size: 1.4rem;
      }
    }
  }
  .navbar-article {
    position: relative;
    background: vars.$blog-color;
  }
}

.navbar {
  display: flex;
  z-index: 5000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
  background: vars.$main-color;
  &-logo {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    &-menu {
      height: 15px;
      display: block;
      margin: 20px auto 10px auto;
    }
  }

  &-burger {
    z-index: 500;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 4px;
    right: 25px;
    width: 25px;
    height: 30px;

    transition: 0.7s;
    span {
      height: 2px;
      width: 25px;
      background: rgb(255, 255, 255);
      box-shadow: 0px 0px 3px black;
      transition: 0.7s;
    }
    &-open {
      margin: auto;
      right: 120px;
      height: 30px;
      width: 30px;
      background: vars.$main-color;
      border-radius: 0 10px 10px 0;
      top: 0px;
      span {
        background: white;
        width: 18px;
        position: absolute;
      }
      span:nth-child(2) {
        display: none;
      }
      span:first-child {
        transform-origin: center;
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        transform-origin: center;
        transform: rotate(-45deg);
      }
    }
  }

  &-menu {
    position: fixed;
    &-logo {
      margin: 10px auto;
      display: block;
      width: 100px;
    }
    height: 100%;
    width: 150px;
    z-index: 50;
    text-align: left;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    right: -150px;
    top: 0;
    transition: 0.8s;
    &-open {
      right: 0;
    }
    &-item {
      display: inline-block;
      font-size: 0.8rem;
      margin: 20px 10px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.959);
      transform: scale(1);
      transition: 0.8s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &-content {
      position: relative;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-contact {
      margin-bottom: 10px;
      h6 {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
      }
      button {
        width: 100%;
        text-align: center;
        font-weight: 400;
        background-color: black;
        border: none;
        color: white;
        margin-bottom: 10px;
      }
      &-container {
        position: relative;
      }
      &-socialMedia {
        text-align: center;
        a {
          margin: 15px 8px;
          font-size: 1.5rem;
        }
      }
      &-item {
        background: black;
        padding: 15px 15px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
        position: absolute;
        font-size: 0.8rem;
        top: -5px;
        right: 110%;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:before {
          content: "";
          position: absolute;
          left: 99%;
          top: 10px;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-left: 15px solid black;
          border-bottom: 8px solid transparent;
          transition: 0.3s;
        }
        a {
          color: white;
        }
      }
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    text-align: center;
    h1 {
      font-size: 4em;
      margin-bottom: 1rem;
    }
    p {
      font-size: 2em;
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    &-title {
      font-size: 1.2rem;
    }
    &-menu {
      height: 100%;
      &-item {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }

  .header-blog {
    .navbar {
      &-title {
        font-size: 1.4rem;
        margin-left: 15px;
      }
      &-menu {
        height: 100%;
      }
    }
  }
}
